.secondary-box{
    color: blue;
}

.secondary-box p {
    color: #fc3fff;
    font-size: 50px;
}

 /*!Grouping selectors*/
 .inside-box h3{
    font-size: 20px;
    margin: 100px;
 }

 .inside-box {
    border: dashed 2px red;
    text-align: center;
}
.primary-box {
    background: #dff;
    color: #f91;
}

.secondary-box {
    background: #33f;
    color: #94efff;
}

.primary-box, .secondary-box{
    font-size: 20px;
    margin: 0 0 10px;
    padding: 10px;
    text-align: center;
}