.primary-box em{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.secondary-box{
    color: blue;
}

.secondary-box p {
    color: #fc3fff;
    font-size: 50px;
}
